@using OrleansWebApplicaton.Helper
<style>
    .circle {
        width: 400px;
        height: 400px;
        -ms-border-radius: 50%;
        border-radius: 50%;
        font-size: 40px;
        color: #fff;
        line-height: 400px;
        text-align: center;
        background: #000;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul id="colorSelector" class="list-group">
                @foreach (var color in Routines.ColorCollection())
                {
                    <li class="list-group-item" style="padding-left: 10px; color: gray; word-wrap: break-word;">
                        <a href="">
                            <h4>@color <span class="badge" style="background-color: @color;"> </span></h4>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-10" style="padding: 10px;">
            <div class="circle">
                Request from
            </div>
        </div>
    </div>
</div>
