@using OrleansWebApplicaton.Helper
<style>
    .circle {
        width: 400px;
        height: 400px;
        -ms-border-radius: 50%;
        border-radius: 50%;
        font-size: 50px;
        color: #fff;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        background: #2C3539;
        padding-top: 150px;
        margin: auto;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul id="colorSelector" class="list-group">
                @foreach (var color in Routines.ColorCollection())
                {
                    <li class="list-group-item" style="padding-left: 10px; color: gray; word-wrap: break-word;">
                        <a href="">
                            <h4>@color <span class="badge" style="background-color: @color;"> </span></h4>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div id="aggregatorDisplay" class="col-sm-10" style="padding: 10px; height: 100vh;">
            <br />
            <br />
            <br />
            <br />
            <div class="circle">
                &ldquo;<span id="Color">No Color</span>&rdquo;
                <br />
                <span id="IPAddress">said No One :(</span>
            </div>
        </div>
    </div>
</div>
